/*
.aboutPageContainer {
    color: #000;
    background-color: #202020;
    padding: 1vw;
    margin-top: 80px;
    height: 100%;
}



.section_1 {
    padding: 0 5vw 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.section_2 {
    padding: 0 0 0;

}

.section_2__title {
    color: #fff;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Courier New", monospace;
    font-weight: normal !important;
    font-size: 35px;
    margin-bottom: 10px;
    margin-right: 5vw;
}
.section_2__skillsContainer {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: inherit;
    justify-content: flex-start;
    transform-style: preserve-3d;
    perspective: 1000px;
    perspective-origin: center center;
    margin-top: 30px;
    padding: 20px 0;
    overflow-y: hidden;
}

.section_2__skillsContainer__rightFade {
    width: 200px;
    height: 410px;
    position: absolute;
    right: calc(-1vw + 1px);
    top: -20px;
    background: linear-gradient(to right, transparent 1px, #aa0000 90%, #aa0000);
}

.section_2__skillsContainer__leftFade {
    width: 200px;
    height: 410px;
    position: absolute;
    left: calc(-1vw + 1px);
    top: -20px;
    background: linear-gradient(to left, transparent, #aa0000 90%, #aa0000);
    z-index: 10;
}

.section_2__skillsContainerM {
    display: none;
    flex-wrap: nowrap;
    justify-content: flex-start;
    perspective: 5000px;
    perspective-origin: center 170px;
}

.heroCarousel {
    padding-top: 20px;
    z-index: 10;
}

.heroPhoto {
    width: 400px;
    margin: auto auto 0;
    object-fit: cover;
    box-shadow: 0 0 10px 5px black;
}

.section_3 {
!*    position: relative;*!
}

.section_3__decorStripTop {
    position: absolute;
    z-index: 60;
    left: 0;
    top: 0;
    height: 34vh;
    background-color: #fff;
}

.section_3__decorStripBottom {
    position: absolute;
    z-index: 60;
    bottom: 0;
    right: 0;
    height: 34vh;
    background-color: #fff;
}
.section_3__decorStripRight {
    position: absolute;
    z-index: 60;
    bottom: 0;
    right: 0;
    width: calc(9% + 1px);
    background-color: #202020;
}

.section_3__decorStripLeft {
    position: absolute;
    z-index: 60;
    bottom: 0;
    left: 0;
    width: calc(9% + 1px);
    background-color: #202020;
}

.section_3__decorStripCenter {
    position: absolute;
    z-index: 60;
    width: calc(9% + 1px);
    background-color: #202020;
}

.section_4 {
    display: flex;
    flex-direction: column;
}

.section_4__decorStrip {
    position: absolute;
    z-index: 60;
    left: 0;
    background-color: #aa0000;
}

.section_4__projectsContainer {
    align-self: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    transform-style: preserve-3d;
  !*  perspective: 1000px;
    perspective-origin: center center;*!
    margin: 30px 4vw 0;
    padding: 20px 0;
}

.section_4__projectsContainer_box {
    width: 300px;
    height: 300px;
}

.section_4__projectsContainer_box img {
    object-fit: scale-down;
    width: 300px;
}


@media screen and (max-width: 767px) {
    .section_1 {
        justify-content: center;
    }
    .section_2 {
        justify-content: center;
    }
    .section_2__title {
        text-align: center;
        margin-bottom: 4vw;
    }
    .section_2__skillsContainer {
        display: none;
    }
    .section_2__skillsContainerM {
        display: flex;
        flex-direction: column;
    }

    .section_3__decorStripBottom {
        display: none;
    }
    .section_3__decorStripTop {
        display: none;
    }
    .section_3__decorStripLeft {
        display: none;
    }
    .section_3__decorStripRight {
        display: none;
    }
    .section_3__decorStripCenter {
        display: none;
    }

}
@media screen and (max-width: 479px) {
    .section_1 {
        justify-content: center;
    }
    .section_2 {
        justify-content: center;
    }
    .section_2__title {
        text-align: center;
    }
    .heroCarousel {
        text-align: center;
    }
    .heroPhoto {
        width: 300px;
    }
}

*/
