.header {
  position: fixed;

  background-color: #aa0000;
  height: calc(58px + 8vw);
  width: 100%;
  z-index: 1;
}

/*
.header div {
  position: sticky;
  height: 20px;
  background-color: #aa0000;
  box-shadow: 0 0 15px 15px #aa0000;
  z-index: 50;
}*/

@media screen and (max-width: 767px) {
  .header {
    height: calc(58px + 8vw);
  }
}

@media screen and (max-width: 479px) {
  .header {
    height: calc(44px + 8vw);
  }

}
