$yellow: rgb(255, 200, 0);
$orange: rgb(255, 106, 0);

.sparksContainer {
  position: fixed;
  display: flex;
  width: calc(100vw + 20px);
  height: calc(100vh + 200px);
  left: -10px;
  bottom: -270px;
  z-index: 0;
}

.pitContainerLower {
  position: fixed;
  display: flex;
  width: 150vw;
  height: 0;
  bottom: -70px;
  left: 7%;
  z-index: 0;
  animation: moveLower 60s infinite;
}

.pitContainerUpper {
  display: block;
  position: fixed;
  width: 50vw;
  height: 0;
  bottom: -50px;
  z-index: 4;
  animation: moveUpper 20s infinite 5s;
}
@keyframes moveUpper {
  0% {
    transform: translateX(30vw) rotate(5deg) scale(2);
  }

  25%{
    transform: translateX(70vw) rotate(5deg) scale(1.5);
  }

  50% {
    transform: translateX(30vw) rotate(5deg) scale(1.3);
  }

  75% {
    transform: translateX(-10vw) rotate(5deg) scale(1.5);
  }

  100% {
    transform: translateX(30vw) rotate(5deg) scale(2);
  }
}
@keyframes moveLower {
  0% {
    transform: translateX(-200px) rotate(5deg) scale(1.1);
  }
  5% {
    transform: translateX(0px) rotate(10deg) scale(1.1);
  }
  10% {
    transform: translateX(50px) rotate(5deg) scale(1.1);
  }
  60% {
    transform: translateX(-10px) rotate(4deg) scale(1.3);
  }
  70% {
    transform: translateX(-40px) rotate(-1deg) scale(1.2);
  }
  75% {
    transform: translateX(-50px) rotate(5deg) scale(1.1);
  }
  100% {
    transform: translateX(-200px) rotate(5deg) scale(1.1);
  }
}

@keyframes moveSparksFrame {
  0% {
    transform: translateX(-200px);
  }
  40% {
    transform: translateX(50px);
  }
  60% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(-40px);
  }
  75% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(-200px);
  }
}
.pit {
  position: relative;
  width: 25%;
  height: 60px;
  bottom: 0;
  left: 0;
  &:nth-of-type(2) {
    transform: translateX(-26%) rotate(1deg) skewX(10deg) skewY(-1deg);
  }
  &:nth-of-type(3) {
    transform: translateX(-48%) rotateY(175deg) rotate(1deg) skewX(10deg) skewY(-1deg);
  }
  &:nth-of-type(4) {
    transform: translateX(-70%) rotate(5deg) skewX(10deg) skewY(-1deg);
  }
  &__wide {
    width: 90%;
  }
}

.spark:global(#aa) {
    height: 5px;
    animation-duration: 1.4s;
    box-shadow: 0 0 0 0 yellow;
    left: 10%;
}

.spark:global(#ba) {
  height: 2px;
  animation-duration: 1.2s;
  box-shadow: 0 0 0 0 yellow;
  left: 20%;
}
.spark:global(#ca) {
  height: 3px;
  animation-duration: 2.3s;
  left: 30%;
}
.spark:global(#da) {
  height: 1px;
  animation-duration: 3.2s;
  left: 40%;
}
.spark:global(#ea) {
  height: 1px;
  animation-duration: 2.4s;
  left: 50%;
}
.spark:global(#fa) {
  height: 1px;
  animation-duration: 3.0s;
  left: 60%;
}
.spark:global(#ga) {
  height: 2px;
  animation-duration: 1.2s;
  box-shadow: 0 0 0 0 yellow;
  left: 70%;
}
.spark:global(#ha) {
  height: 1px;
  animation-duration: 3.5s;
  left: 80%;
}
.spark:global(#ia) {
  height: 1px;
  animation-duration: 6.0s;
  left: 90%;
}
.spark:global(#ja) {
  height: 2px;
  animation-duration: 3.0s;
  left: 95%;
}

.spark:global(#uniqueFirst) {
  height: 8px;
  animation-duration: 2.0s;
  left: 5%;
  box-shadow: 0 0 1px 0 yellow;
  animation-name: fly-up-burnout-uniqueFirst;
  animation-delay: 6s;
  animation-timing-function: linear;
}
.spark:global(#uniqueSecond) {
  height: 5px;
  animation-duration: 4.0s;
  left: -15%;
  box-shadow: 0 0 0 0 yellow;
  animation-name: fly-up-burnout-uniqueSecond;
  animation-delay: 10s;
  animation-timing-function: linear;
}

.spark {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 2px;
  height: 5px;
  box-shadow: 0 0 3px 0 #ffff00bb;
  background-color: fade-out($orange,.1);
  animation-name: fly-up-burnout-1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: .4s;


  &:nth-of-type(2n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1s;
  }
  &:nth-of-type(3n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 1.9s;
  }
  &:nth-of-type(4n) {
    animation-name: fly-up-burnout-4;
    animation-delay: 2.6s;
  }
  &:nth-of-type(5n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1.4s;
  }
  &:nth-of-type(6n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 3.2s;
  }
  &:nth-of-type(7n) {
    animation-name: fly-up-burnout-3;
    animation-delay: .8s;
  }
  &:nth-of-type(8n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 5s;
  }
  &:nth-of-type(9n) {
    animation-name: fly-up-burnout-4;
    animation-delay: 4s;
  }
  &:nth-of-type(10n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 5.2s;
  }
  &:nth-of-type(11n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 3.5s;
  }
  &:nth-of-type(12n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(13n) {
    animation-name: fly-up-burnout-4;
  }
  &:nth-of-type(14n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 2.5s;
  }
  &:nth-of-type(15n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 5.1s;
  }
  &:nth-of-type(16n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 4s;
  }
  &:nth-of-type(17n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 4.7s;
  }
  &:nth-of-type(18n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 4.1s;
  }
  &:nth-of-type(19n) {
    animation-name: fly-up-burnout-3;
  }
  &:nth-of-type(20n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 7s;
  }
  &:nth-of-type(21n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1s;
  }
  &:nth-of-type(22n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 5s;
  }
  &:nth-of-type(23n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 1s;
  }
  &:nth-of-type(24n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(25n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 8s;
  }
  &:nth-of-type(26n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 4s;
  }
  &:nth-of-type(27n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(28n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 3s;
  }
  &:nth-of-type(29n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 5s;
  }
}

@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  33%{
    transform: translate(22px, -30vh)  rotate(10deg);
  }

  66% {
    transform: translate(38px, -50vh) rotate(10deg);
    opacity: .6;
  }

  100% {
    transform: translate(66px, -100vh) rotate(10deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0) rotate(10deg);
    opacity: 1;
  }

  50%{
    transform: translate(10px, -55vh) rotate(9deg);
  }

  80% {
    transform: translate(40px, -80vh) rotate(10deg);
    opacity: .6;
  }

  100% {
    transform: translate(60px, -95vh) rotate(12deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-3 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  25%{
    transform: translate(29px, -120px)  rotate(10deg);
  }

  50% {
    transform: translate(27px, -280px) rotate(10deg);
    opacity: .8;
  }
  75% {
    transform: translate(38px, -380px) rotate(12deg);
    opacity: .5;
  }

  100% {
    transform: translate(50px, -450px) rotate(15deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-4 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  10%{
    transform: translate(-10px, -10vh)  rotate(10deg);
  }

  20% {
    transform: translate(5px, -20vh) rotate(10deg);
    opacity: .8;
  }
  30% {
    transform: translate(-5px, -57vh) rotate(12deg);
    opacity: .5;
  }
  40% {
    transform: translate(20px, -70vh) rotate(15deg);
    opacity: 0;
  }
  50% {
    transform: translate(40px, -100vh) rotate(15deg);
    opacity: 0;
  }

  100% {
    transform: translate(60px, -650px) rotate(15deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-5 {
  0% {
    transform: translate(0, 0)  rotate(5deg);
    opacity: 1;
  }

  25%{
    transform: translate(20px, -15vh)  rotate(5deg);
  }

  50% {
    transform: translate(25px, -38vh) rotate(5deg);
    opacity: .8;
  }
  75% {
    transform: translate(20px, -59vh) rotate(7deg);
    opacity: .5;
  }

  100% {
    transform: translate(50px, -100vh) rotate(11deg);
    opacity: 0;
  }
}