$yellow: rgb(255, 200, 0);
$orange: rgb(255, 106, 0);

.pitContainer {
  position: fixed;
  display: flex;
  width: 86%;
  height: 0;
  bottom: 0;
  left: 7%;
  z-index: 0;
  transform: translateX(100px) translateY(50px) scale(1.5) rotate(5deg);
}

.pitContainer:last-child {
  display: block;
  position: fixed;
  width: 200%;
  transform: translateX(130vw) translateY(200px) scale(3.5) rotate(5deg);
  z-index: 4;
}

.pit {
  position: relative;
  width: 25%;
  height: 60px;
  bottom: 0;
  left: 0;
  &:nth-of-type(2) {
    transform-style: preserve-3d;
    transform: translateX(-100px) rotate(1deg) skewX(10deg) skewY(-1deg);
  }
  &:nth-of-type(3) {
    transform-style: preserve-3d;
    transform: translateX(-100px) rotateY(175deg) rotate(1deg) skewX(10deg) skewY(-1deg);
  }
  &:nth-of-type(4) {
    transform-style: preserve-3d;
    transform: translateX(-200px) rotate(5deg) skewX(10deg) skewY(-1deg);
  }
}

.spark:global(#aa) {
    height: 5px;
    animation-duration: 1.4s;
    box-shadow: 0 0 0 0 yellow;
    left: 10%;
}

.spark:global(#ba) {
  height: 2px;
  animation-duration: 1.2s;
  box-shadow: 0 0 0 0 yellow;
  left: 20%;
}
.spark:global(#ca) {
  height: 3px;
  animation-duration: 2.3s;
  left: 30%;
}
.spark:global(#da) {
  height: 1px;
  animation-duration: 3.2s;
  left: 40%;
}
.spark:global(#ea) {
  height: 1px;
  animation-duration: 2.4s;
  left: 50%;
}
.spark:global(#fa) {
  height: 1px;
  animation-duration: 3.0s;
  left: 60%;
}
.spark:global(#ga) {
  height: 2px;
  animation-duration: 1.2s;
  box-shadow: 0 0 0 0 yellow;
  left: 70%;
}
.spark:global(#ha) {
  height: 1px;
  animation-duration: 3.5s;
  left: 80%;
}
.spark:global(#ia) {
  height: 1px;
  animation-duration: 6.0s;
  left: 90%;
}
.spark:global(#ja) {
  height: 2px;
  animation-duration: 3.0s;
  left: 95%;
}

.spark:global(#uniqueFirst) {
  height: 8px;
  animation-duration: 2.0s;
  left: 5%;
  box-shadow: 0 0 1px 0 yellow;
  animation-name: fly-up-burnout-uniqueFirst;
  animation-delay: 6s;
  animation-timing-function: linear;
}
.spark:global(#uniqueSecond) {
  height: 5px;
  animation-duration: 4.0s;
  left: -15%;
  box-shadow: 0 0 0 0 yellow;
  animation-name: fly-up-burnout-uniqueSecond;
  animation-delay: 10s;
  animation-timing-function: linear;
}

.spark {
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 1px;
  height: 2px;
  box-shadow: 0 0 2px 0 yellow;
  background-color: fade-out($orange,.1);
  animation-name: fly-up-burnout-1;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: .4s;


  &:nth-of-type(2n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1s;
  }
  &:nth-of-type(3n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 1.9s;
  }
  &:nth-of-type(4n) {
    animation-name: fly-up-burnout-4;
    animation-delay: 2.6s;
  }
  &:nth-of-type(5n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1.4s;
  }
  &:nth-of-type(6n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 3.2s;
  }
  &:nth-of-type(7n) {
    animation-name: fly-up-burnout-3;
    animation-delay: .8s;
  }
  &:nth-of-type(8n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 5s;
  }
  &:nth-of-type(9n) {
    animation-name: fly-up-burnout-4;
    animation-delay: 4s;
  }
  &:nth-of-type(10n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 5.2s;
  }
  &:nth-of-type(11n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 3.5s;
  }
  &:nth-of-type(12n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(13n) {
    animation-name: fly-up-burnout-4;
  }
  &:nth-of-type(14n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 2.5s;
  }
  &:nth-of-type(15n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 5.1s;
  }
  &:nth-of-type(16n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 4s;
  }
  &:nth-of-type(17n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 4.7s;
  }
  &:nth-of-type(18n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 4.1s;
  }
  &:nth-of-type(19n) {
    animation-name: fly-up-burnout-3;
  }
  &:nth-of-type(20n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 7s;
  }
  &:nth-of-type(21n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 1s;
  }
  &:nth-of-type(22n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 5s;
  }
  &:nth-of-type(23n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 1s;
  }
  &:nth-of-type(24n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(25n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 8s;
  }
  &:nth-of-type(26n) {
    animation-name: fly-up-burnout-5;
    animation-delay: 4s;
  }
  &:nth-of-type(27n) {
    animation-name: fly-up-burnout-2;
    animation-delay: 2s;
  }
  &:nth-of-type(28n) {
    animation-name: fly-up-burnout-1;
    animation-delay: 3s;
  }
  &:nth-of-type(29n) {
    animation-name: fly-up-burnout-3;
    animation-delay: 5s;
  }
}

@keyframes fly-up-burnout-1 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  33%{
    transform: translate(22px, -140px)  rotate(10deg);
  }

  66% {
    transform: translate(38px, -280px) rotate(10deg);
    opacity: .6;
  }

  100% {
    transform: translate(66px, -400px) rotate(10deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-2 {
  0% {
    transform: translate(0, 0) rotate(10deg);
    opacity: 1;
  }

  50%{
    transform: translate(10px, -180px) rotate(10deg);
  }

  80% {
    transform: translate(40px, -340px) rotate(10deg);
    opacity: .6;
  }

  100% {
    transform: translate(60px, -460px) rotate(10deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-3 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  25%{
    transform: translate(29px, -120px)  rotate(10deg);
  }

  50% {
    transform: translate(27px, -280px) rotate(10deg);
    opacity: .8;
  }
  75% {
    transform: translate(38px, -380px) rotate(12deg);
    opacity: .5;
  }

  100% {
    transform: translate(50px, -450px) rotate(15deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-4 {
  0% {
    transform: translate(0, 0)  rotate(10deg);
    opacity: 1;
  }

  10%{
    transform: translate(-10px, -100px)  rotate(10deg);
  }

  20% {
    transform: translate(5px, -200px) rotate(10deg);
    opacity: .8;
  }
  30% {
    transform: translate(-5px, -300px) rotate(12deg);
    opacity: .5;
  }
  40% {
    transform: translate(20px, -450px) rotate(15deg);
    opacity: 0;
  }
  50% {
    transform: translate(40px, -550px) rotate(15deg);
    opacity: 0;
  }

  100% {
    transform: translate(60px, -650px) rotate(15deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-5 {
  0% {
    transform: translate(0, 0)  rotate(5deg);
    opacity: 1;
  }

  25%{
    transform: translate(20px, -110px)  rotate(5deg);
  }

  50% {
    transform: translate(25px, -270px) rotate(5deg);
    opacity: .8;
  }
  75% {
    transform: translate(20px, -370px) rotate(7deg);
    opacity: .5;
  }

  100% {
    transform: translate(50px, -440px) rotate(11deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-uniqueFirst {
  0% {
    transform: translate(10px, -5px)  rotate(0deg);
    opacity: 1;
  }

  4%{
    transform: translate(10px, -100px)  rotate(0deg);
  }

  5% {
    transform: translate(5px, -110px) rotate(-15deg);
  }
  6% {
    transform: translate(0, -120px) rotate(-30deg);
  }
  7% {
    transform: translate(-5px, -125px) rotate(-45deg);
  }
  8% {
    transform: translate(-10px, -130px) rotate(-60deg);
  }
  9% {
    transform: translate(-15px, -135px) rotate(-75deg);
  }
  10% {
    transform: translate(-20px, -140px) rotate(-90deg);
  }
  11% {
    transform: translate(-25px, -135px) rotate(-105deg);
  }
  12% {
    transform: translate(-30px, -130px) rotate(-120deg);
  }
  13% {
    transform: translate(-35px, -125px) rotate(-135deg);
  }
  14% {
    transform: translate(-40px, -120px) rotate(-150deg);
  }
  15% {
    transform: translate(-45px, -110px) rotate(-165deg);
  }
  16% {
    transform: translate(-50px, -100px) rotate(-180deg);
  }
  17% {
    transform: translate(-45px, -90px) rotate(-195deg);
  }
  18% {
    transform: translate(-40px, -80px) rotate(-210deg);
  }
  19% {
    transform: translate(-35px, -75px) rotate(-225deg);
  }
  20% {
    transform: translate(-30px, -70px) rotate(-240deg);
  }
  21% {
    transform: translate(-25px, -65px) rotate(-255deg);
  }
  22% {
    transform: translate(-20px, -60px) rotate(-270deg);
  }
  23% {
    transform: translate(-15px, -65px) rotate(-285deg);
  }
  24% {
    transform: translate(-10px, -70px) rotate(-300deg);
  }
  25% {
    transform: translate(-5px, -75px) rotate(-315deg);
  }
  26% {
    transform: translate(0px, -80px) rotate(-330deg);
  }
  27% {
    transform: translate(5px, -90px) rotate(-345deg);
  }
  28% {
    transform: translate(10px, -100px) rotate(-360deg);
  }
  45% {
    transform: translate(15px, -600px)  rotate(-365deg);
    opacity: 0;
  }

  100% {
    transform: translate(5px, 0px)  rotate(-365deg);
    opacity: 0;
  }
}

@keyframes fly-up-burnout-uniqueSecond {
  0% {
    transform: translate(310px, -5px)  rotate(0deg);
    opacity: 0;
  }

  46% {
    transform: translate(310px, -10px)  rotate(0deg);
    opacity: 1;
  }
  64%{
    transform: translate(310px, -200px)  rotate(0deg);
  }

  65% {
    transform: translate(305px, -210px) rotate(15deg);
  }
  66% {
    transform: translate(310, -220px) rotate(30deg);
  }
  67% {
    transform: translate(315px, -225px) rotate(45deg);
  }
  68% {
    transform: translate(320px, -230px) rotate(60deg);
  }
  69% {
    transform: translate(325px, -235px) rotate(75deg);
  }
  70% {
    transform: translate(330px, -240px) rotate(90deg);
  }
  71% {
    transform: translate(335px, -235px) rotate(105deg);
  }
  72% {
    transform: translate(340px, -230px) rotate(120deg);
  }
  73% {
    transform: translate(345px, -225px) rotate(135deg);
  }
  74% {
    transform: translate(350px, -220px) rotate(150deg);
  }
  75% {
    transform: translate(355px, -210px) rotate(165deg);
  }
  76% {
    transform: translate(360px, -200px) rotate(180deg);
  }
  77% {
    transform: translate(355px, -190px) rotate(195deg);
  }
  78% {
    transform: translate(350px, -180px) rotate(210deg);
  }
  79% {
    transform: translate(345px, -175px) rotate(225deg);
  }
  80% {
    transform: translate(340px, -170px) rotate(240deg);
  }
  81% {
    transform: translate(335px, -165px) rotate(255deg);
  }
  82% {
    transform: translate(330px, -160px) rotate(270deg);
  }
  83% {
    transform: translate(325px, -165px) rotate(285deg);
  }
  84% {
    transform: translate(320px, -170px) rotate(300deg);
  }
  85% {
    transform: translate(315px, -175px) rotate(315deg);
  }
  86% {
    transform: translate(310px, -180px) rotate(330deg);
  }
  87% {
    transform: translate(305px, -190px) rotate(345deg);
  }
  88% {
    transform: translate(300px, -200px) rotate(360deg);
  }
  100% {
    transform: translate(305px, -400px)  rotate(360deg);
    opacity: 0;
  }
}